@use "../abstracts/vars";
@use "../abstracts/mixins";

.content-container{
  position: relative; 
  padding: 3rem;
  
  display: inline-block;
  background-color: #fff;
  margin-left: vars.$sidenav-width;
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;

  // background-color: purple;

  @include mixins.respond(phone){
    margin-left: unset;
    margin-top: vars.$phonenav-height;
  }

  .scrolling-target {
    position: absolute;
    opacity: 0;
    top: 5rem;
  }
}