@use "../abstracts/mixins";

.contact-page-container {
  height: 100%;

  display: flex;
  flex-flow: column;

  p {
    margin-top: 5rem;
    margin-left: 5rem;

    font-family: Staatliches;
    font-size: 3em;

    @include mixins.respond(phone){
      width: 50%;
      margin-top: 2rem;
      margin-left: 2rem;
    }
  }

  .contact-logo-container {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 50%;
    margin-left: 5rem;
    margin-top: 8rem;

    @include mixins.respond(phone){
      flex-flow: row;
      justify-content: flex-start;
      margin-top: 6rem;
      margin-left: 2rem;
    }

    a {
      width: max-content;
      margin-top: 2rem;

      .social-logo {
        height: 4rem;
        padding-left: 0.2rem;
      }
    }

    @include mixins.respond(phone){
      a:nth-of-type(2){
        margin-left: 3rem;
      }
    }
    
  }
}