@use "../abstracts/vars";
@use "../abstracts/mixins";

.content-container{
  position: relative; 
  padding: 3rem;
  
  display: inline-block;
  margin-top: 35rem;
  width: 100vw;
  min-height: 100%;
  box-sizing: border-box;
  

  @include mixins.respond(phone){
    margin-left: unset;
    margin-top: vars.$phonenav-height;
  }

  .scrolling-target {
    position: absolute;
    opacity: 0;
    top: 5rem;
  }
}