@use "../abstracts/mixins";

.detail-page-container{  
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row; 

  @include mixins.respond(phone){
    flex-flow: column;
  }
  
  .image-div{

    height: 85vh;

    @include mixins.respond(phone){
      height: unset;
    }
    
    img{
      width: auto;
      object-fit: contain;
      max-height: 100%;
      max-width: 100%;
    }
  }

  .info-div {
    margin: 3rem;
    font-size: 2rem;

    @include mixins.respond(phone){
      margin: 0;
      margin-top: 3rem;
    }

    div {
      margin-bottom: 0.2rem;
    }

    .art-title {
      font-size: 1.7em;
      margin-bottom: 0.7rem;
    }

    a {

      font-weight: 300;

      img {
        height: 1.2rem;
        margin-right: 0.9rem;
      }
    }
  }
}