@use '../abstracts/mixins';

.topnav {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 25rem;
  
  z-index: 50;
  
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: center;

  transform-origin: center top;
  transition: all 150ms ease-in-out;  

  @include mixins.respond(phone) {
    grid-template-rows: repeat(2, 1fr);
  }

  a {
    color: #c7c7c7;
    text-shadow: 1px 1px 2px black;
    font-size: 3.2rem;
  }

  a:nth-of-type(1) {
    grid-column: 2;
    grid-row: 1 / span 2;

    @include mixins.respond(phone){
      grid-row: 1;
    }
  }

  a:nth-of-type(2) {
    grid-column: 4;
    grid-row: 1 / span 2;

    @include mixins.respond(phone){
      grid-row: 1;
    }
  }

  .topnav-jack-logo {
    width: 18rem;
    margin-top: 3rem;

    grid-column: 3;
    grid-row: 1 / span 2;

    @include mixins.respond(phone) {
      width: 10rem;
      grid-row: 1;
      margin-top: 0rem;
    }
  }

  .topnav-title-container {
    grid-column: 2 / span 3;
    grid-row: 3;
    align-self: flex-start;
    margin-top: 2rem;
    font-size: 8rem;

    @include mixins.respond(phone) {
      font-size: 3rem;
      grid-row: 2;
      margin-top: 0;
    }
  }
}

.topnav-small {
  transform: scale(0.8);
}

.landing-topnav {
  display: none;
}