@use "../abstracts/vars";
@use "../abstracts/mixins";



*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  //none of these numbers look right
  @include mixins.respond(tab-land){  // width < 1200
    font-size: 56.25%;
  }
  @include mixins.respond(tab-port){  // width < 900
    font-size: 50%;
  }
  // @include mixins.respond(phone){
  //   font-size: 40%;
  // }
  @include mixins.respond(big-desk){  // width > 1800
    font-size: 75%;
  }

  min-height: 100vh;
  font-family: Helvetica, sans-serif;

}

a {
  text-decoration: none;
  font-weight: bold;
}
a:link{     color: #1c1c1c; }
a:visited{  color: #202f46; }
a:hover{    color: #242424; }
a:active{   color: #333333; }
a:focus{    color: #242424; }


body {
  min-height: 100vh;
  height: auto;
}

#root {
  display: flex;
  flex-flow: row;
  min-height: 100vh;
  height: auto;

  background-image: url('../assets/space-background.jpg');
  background-size: contain;
  background-repeat: repeat-y;

  @include mixins.respond(phone){
    flex-flow: column;
    min-height: unset;
    height: unset;
  }
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  // left: 0;
  width: 100%;
  max-width: 100vw;
}


// #root [class$="-page-container"]{
//   padding-left: 3rem;
//   padding-right: 3rem;
// }

