@use "../abstracts/vars";
@use "../abstracts/mixins";

/* lobster-regular - latin */
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/lobster-v23-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../fonts/lobster-v23-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/lobster-v23-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/lobster-v23-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/lobster-v23-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/lobster-v23-latin-regular.svg#Lobster') format('svg'); /* Legacy iOS */
}

/* staatliches-regular - latin */
@font-face {
  font-family: 'Staatliches';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../../fonts/staatliches-v5-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../../fonts/staatliches-v5-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fredoka-one-regular - latin */
@font-face {
  font-family: 'Fredoka One';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/fredoka-one-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../fonts/fredoka-one-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/fredoka-one-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/fredoka-one-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/fredoka-one-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/fredoka-one-v8-latin-regular.svg#FredokaOne') format('svg'); /* Legacy iOS */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  //none of these numbers look right
  @include mixins.respond(tab-land){  // width < 1200
    font-size: 56.25%;
  }
  @include mixins.respond(tab-port){  // width < 900
    font-size: 50%;
  }
  // @include mixins.respond(phone){
  //   font-size: 40%;
  // }
  @include mixins.respond(big-desk){  // width > 1800
    font-size: 75%;
  }

  min-height: 100vh;
  font-family: Helvetica, sans-serif;
  // font-family: "Lobster";
  // font-family: "Lobster", cursive;
  // font-family: "Fredoka One", cursive;
  // font-family: "Fredoka One";
  // font-family: cursive;
}

a {
  text-decoration: none;
  font-weight: bold;
}
a:link{     color: #1c1c1c; }
a:visited{  color: #202f46; }
a:hover{    color: #242424; }
a:active{   color: #333333; }
a:focus{    color: #242424; }


body {
  min-height: 100vh;
  height: auto;
}

#root {
  display: flex;
  flex-flow: row;
  min-height: 100vh;
  height: auto;

  @include mixins.respond(phone){
    flex-flow: column;
    min-height: unset;
    height: unset;
  }
}


// #root [class$="-page-container"]{
//   padding-left: 3rem;
//   padding-right: 3rem;
// }

