$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

$color-nav-background: #333333;
$color-light-grey: #aaaaaa;
$color-lighter-grey: #e6e6e6;
$color-gloomy-grey: #6e6e6e;

// GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

$landed-image-height: 30rem;

$navbar-height: 20rem;
$sidenav-width: 28rem;
$phonenav-height: 22rem;