@use "base/base";

@use "components/navbar";
@use "components/imageGallery";
@use "components/detailScreen";
@use "components/contactpage";
@use "components/about";
@use "components/landingpage";
@use "components/backgroundImage";
@use "components/imgelement";
@use "components/contentdiv";
